@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.left {
    display: flex;
    height: 100vh;
    width: 100vw;
}

h2:not(.title, .title2) {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #404040;
    margin: auto;
}

h2.title, h2.title2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #404040;
}

h2.title2 {
    padding-top: 30px;
}

label.check1 {
    margin-right: 50px;
}

span.dot {
    color: #4200FF;
}

span.star {
    color: red;
}

form {
    margin: auto;
    display: inline-grid;
    width: 678px;
}

label {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #404040;
    margin-top: 10px;
}

p {
    margin: auto;
    padding-top: 20px;
    color: #404040;
}

.form__input {
    width: 100%;
    height: 35px;
    border: 1.74px solid #4200FF;
    border-radius: 5px;
    padding-left: 10px;
}

select {
    width: 100%;
    height: 35px;
    border: 1.74px solid #4200FF;
    border-radius: 5px;
    background: none;
    padding-left: 10px;
}

.btn1 {
    width: 100%;
    height: 46px;
    background: #4200FF;
    border-radius: 10px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18.4739px;
    line-height: 28px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
}

.btn2 {
    width: 100%;
    height: 46px;
    background: #FF0000;
    border-radius: 10px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18.4739px;
    line-height: 28px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
}

.btn1:hover {
    box-shadow: 0px 0px 9px #4200FF;
    transition: 0.5s;
}

.btn2:hover {
    box-shadow: 0px 0px 9px #FF0000;
    transition: 0.5s;
}

.error {
    color: red;
}

.field {
    display: flex;
    margin-bottom: 15px;
    gap: 10px;
}